<html>
  <head>
    <title>{% block title %}offbytwo's bookshelf{% endblock %}</title>
    {% block javascripts %}
    
    {% if settings.DEBUG %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-1.3.2.js"></script>
    {% else %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    {% endif %}

    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
    {% endblock %}
    {% block extra_head %} {% endblock %}
  </head>
  <body id="pagebody">
    <div class="container">
      <div class="span-24 header last">{% block header %}<h1>offbytwo's bookshelf</h1>{% endblock %}</div>
      <div class="span-24 content last">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
